:root {
    --gameContainerWidth: 400px;
    --gameContanerHeight: calc(var(--gameContainerWidth) - 70px);
    --screenContainerWidth: calc(var(--gameContainerWidth) - 50px);
    --screenContainerHeight: calc(var(--gameContanerHeight) - 100px);
    --screenRowWidth: calc(var(--screenContainerWidth) / 6);
}

#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--gameContainerWidth);
    height: var(--gameContanerHeight);
    background-color: red;
}
#screenContainer {
    display: flex;
    width: var(--screenContainerWidth);
    height: var(--screenContainerHeight);
    background-color: gray;
}

.gameScreenFragment {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--screenRowWidth);
    height: 100%;
    background-color: aqua;
}

#gameScreen1 {
    background-color: rgb(128, 124, 124);
}
#screen1 {
    background-color: rgb(128, 124, 124);
}
#screen2 {
    background-color: rgb(172, 167, 167);
}
#screen3 {
    background-color: rgb(128, 124, 124);
}
#screen4 {
    background-color: rgb(180, 174, 174);
}
#screen5 {
    background-color: rgb(135, 127, 127);
}
#screen6 {
    background-color: rgb(178, 171, 171);
}

.fallingObject {
    position: absolute;
    width: 25px;
    height: 35px;
    background-color: black;
    animation: falling 2s steps(10);
}

.player {
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 47px;
    background-color: black;
}

@keyframes falling {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(460%);
    }
}
